
.vs/Producto_2/FileContentIndex/c1f01723-11c4-4fc7-b030-73ad724f3eeb.vsidx

.vs/Producto_2/FileContentIndex/d2ad9035-aba3-4200-975f-8aa16e7536e5.vsidx

.vs/Producto_2/FileContentIndex/e566d94f-36b7-40ad-8e46-9a1e48365b05.vsidx

.vs/Producto_2/FileContentIndex/06636796-36ee-47ca-a23f-3d1f07c7e857.vsidx

.vs/Producto_2/FileContentIndex/0d1ec18b-2f82-4492-aab7-e397a30bda43.vsidx

.vs/Producto_2/FileContentIndex/0d83ef65-2e17-4986-a394-cc678f66ecb3.vsidx

.vs/Producto_2/FileContentIndex/0d856df0-28e3-4147-ab66-9331ff837862.vsidx

.vs/Producto_2/FileContentIndex/129707d6-cbac-4f91-aeaa-a81def7b5599.vsidx

.vs/Producto_2/FileContentIndex/33847690-e59d-4622-8a9d-92ad5b594c1a.vsidx

.vs/Producto_2/FileContentIndex/46c84110-dbca-45a8-bfc5-8beeb6ce3bb4.vsidx

.vs/Producto_2/FileContentIndex/4fa61e56-f1e8-468c-83ec-97513fec3e34.vsidx

.vs/Producto_2/FileContentIndex/68f97b3f-d9f9-4194-b9a1-11c41f35112b.vsidx

.vs/Producto_2/FileContentIndex/75fce8ed-ac16-4483-ab9e-60b5091be887.vsidx

.vs/Producto_2/FileContentIndex/77f178dd-d10d-4b3d-8c0e-103a398296e8.vsidx

.vs/Producto_2/FileContentIndex/7b141f5d-f891-4129-87ca-53a23ad62a91.vsidx

.vs/Producto_2/FileContentIndex/9ee83e5d-1d1e-4f60-9c9c-02899463bbd9.vsidx

.vs/Producto_2/FileContentIndex/b241df08-4c45-446c-a7f0-d56125206901.vsidx

.vs/Producto_2/FileContentIndex/c9c3271a-d6a1-4d65-a567-138c5f285ffe.vsidx

.vs/Producto_2/FileContentIndex/e188b989-1e5c-40c9-81da-36573bf4492e.vsidx

.vs/Producto_2/FileContentIndex/efad2bf5-bbe7-4d58-80df-e6efa6bedebf.vsidx

.vs/Producto_2/v17/.suo

bin/Debug/Producto_2.exe

bin/Debug/Producto_2.pdb

checkInDS.Designer.cs

checkInDS.xsd

checkoutDS1.Designer.cs

checkoutDS1.xsd

confirmacionDS.Designer.cs

confirmacionDS.xsd

Controlador/ClienteControlador.cs

icons/Cliente.jpg

icons/clientes.png

incidenciasDS.Designer.cs

incidenciasDS.xsd

Modelo/Model1.Context.cs

Modelo/Model1.edmx

Modelo/Model1.edmx.diagram

Modelo/Servicio.cs

obj/Debug/DesignTimeResolveAssemblyReferences.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/edmxResourcesToEmbed/Modelo/Model1.csdl

obj/Debug/edmxResourcesToEmbed/Modelo/Model1.msl

obj/Debug/edmxResourcesToEmbed/Modelo/Model1.ssdl

obj/Debug/Producto_2.csproj.AssemblyReference.cache

obj/Debug/Producto_2.csproj.CoreCompileInputs.cache

obj/Debug/Producto_2.csproj.GenerateResource.cache

obj/Debug/Producto_2.exe

obj/Debug/Producto_2.pdb

obj/Debug/TempPE/Controlador.Model1.Context.cs.dll

obj/Debug/TempPE/Controlador.Model1.cs.dll

obj/Debug/TempPE/Controlador.Model1.Designer.cs.dll

obj/Debug/TempPE/Modelo..Designer.cs.dll

obj/Debug/TempPE/Modelo.Model1.cs.dll

obj/Debug/TempPE/Modelo.Model1.Designer.cs.dll

obj/Debug/TempPE/Modelo.Model2.Context.cs.dll

obj/Debug/TempPE/Modelo.Model2.cs.dll

obj/Debug/TempPE/Modelo.Model2.Designer.cs.dll

obj/Debug/TempPE/servDS.Designer.cs.dll

obj/Debug/TempPE/Vista.Model1.Context.cs.dll

obj/Debug/TempPE/Vista.Model1.cs.dll

obj/Debug/TempPE/Vista.Model1.Designer.cs.dll

Producto_2.csproj
